/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header,footer {
  height: 100px;
  border: 2px solid black;
  clear: both;
}

section {
  height: 400px;
  width: 20%;
  border: 2px solid black;
  float: left;
}

.thicc0ne {
  width: 40%;
}

/* Means between 0px and 600px, take effect */
@media screen and (max-width: 600px) {
  section{
    background: green;
  }
}

/* Means between 600px and 900px, take effect */
@media (min-width: 600px) and (max-width: 900px) {
  section{
    background: blue;
    width: 33.3333%;
  }

  .thicc0ne{
    display: none;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
