/* Tells browser to ignore borders when calc'n width */
*{
  box-sizing: border-box;
}

header,footer{
  height: 100px;
  background: gray;
  border: 1px solid black;
  clear: both;
}

/* 1st row with 1 sections */
section.top > section{
  height: 200px;
  background: blue;
  border: 1px solid black;
}

/* 2nd row with 2 sections */
section.bottom > section{
  height: 300px;
  border: 1px solid black;
}

section.bottom > section.left{
  background: green;
  width: 33.3333%;
  float: left;
}

section.bottom > section.right{
  background: yellow;

}